body {
  margin:20px;padding:0;color:#333
}

.page-wrap {
  width:35em;margin:1em auto;padding:5px 25px 30px 25px;background:white;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px
}

h1 {
  font-family:georgia,serif;
  font-size: 150%;
  font-weight: bold;
}

h2 {
  font-family:georgia,serif;font-size:20px
}

h3 {
  font-family:georgia,serif;font-size:18px
}

h3 {
  font-family:georgia,serif;font-size:16px
}

p,ul {
  font-family:georgia,serif;font-size:16px
}

a {
  color:#386794;text-decoration:none;font-family:"apolline-1","apolline-2",serif}

a:hover {
  color:#1d4c77;text-decoration:underline
}

a:visited,a:active { color:#6c88a2 }

li + li { margin-top:0.5em }

p.caption {
  margin:0;padding:0;font-style:italic;color:#777;font-size:0.9em
}

div.figure {
  float:right;margin-top:20px
}

hr {
  color:#eee;border:1px solid #eee;background:#eee
}

blockquote {
  margin:0em 1em;padding:0.1em 1em;background:#eee
}

pre {
  margin:0em 1em;padding:1em 1em;background:#eee;overflow:auto
}

.body {
  clear:both;padding-top:5px
}

.clear { clear:both }

code {color:#797F77 }

.balpos { font-family: arial; color: green; text-align: right; }
.balneg { font-family: arial; color: red; text-align: right; }
.flthrs { font-family: arial; color: black; text-align: right; }
.int    { font-family: arial; color: black; text-align: right; }

.noborder { padding: 0px;  margin: 0px;
   border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;
   font-family: georgia; font-size: 100%; }

tr { }
th, td { border-left: 1px solid #000000;
	 border-bottom: 1px solid #000000; padding: 2px; }
th { color: #000000; background: #e9e9f2; }
table { padding: 0px;  margin: 0px;
   border-top: 1px solid #000000;
   border-right: 1px solid #000000;
   border-bottom: 1px solid #000000;
   border-left: 1px solid #000000;
   font-family: georgia; font-size: 100%; }
table.info { color: #000000; background: #e9e9f2; }
table.data { color: #000000; background: #ffffff; }
td.label { text-align: right; }
tr.even { color: #000000; background: #ffffff; }
tr.odd { color: #000000; background: #eeeeee; }
td.green { background-color: #bbff22}
td.red { background-color: #ff9999}
td.redint   { font-family: arial; color: black; text-align: right; background-color: #ff9999; }
td.greenint { font-family: arial; color: black; text-align: right; background-color: #bbff22; }
td.blockout { background: #555555; }

.compgen { font-style: italic; font-size: 80% }
